# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/
*.egg-info/

# Secret tokens and keys
.env
firebase-key.json
backend/firebase-key.json

# Database and Logs
chroma_db/
rag_reference_logs.jsonl

# System Files
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
